.pw-map {
	height: 400px;
	width: 99%;
	margin: 5px 1px 1px;
	border: solid 1px #DDD;
	box-sizing: border-box;
}
.pw-map img {
	max-width: none;
}
#edittag .cmb-row.cmb-type-pw-map {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#edittag .cmb-row.cmb-type-pw-map > .cmb-td {
    flex-grow: 1;
}
#edittag .cmb-row.cmb-type-pw-map > .cmb-td > .pw-map,
#edittag .cmb-row.cmb-type-pw-map > .cmb-td > .pw-map-search {
    max-width: 95%;
    width: 540px;
}
